:root {
  --main-color: rgb(62, 60, 65);
  --second-color: rgb(225, 231, 243);
  --principal-text-color: rgb(183, 204, 219);
  --other-color: rgb(241, 241, 243);
  --pink-light: #DD70D1;
  --pink-dark: #DBA8D9;
  --purple: #8687FC;
  --blue: #92C7F2;
  --font-family: 'Calisto MT', sans-serif;
  --title-font-size: 1.25rem;
  --subtitle-font-size: 1rem;
  --text-font-size: 0.875rem;
  --other-font-size: 0.75rem;
  --curve: 2.5rem;
}

/* Cartes voyages */
.main-container {
  margin: 1.6rem 0.8rem;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 12.8rem);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.card_test {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  background-color: var(--principal-text-color);
  box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
}

.card__image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
}

.card__image img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__side-by-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.card__side-by-side--m {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.card__side-by-side--m img {
  min-height: auto;
}

.card__content {
  text-align: justify;
  padding: 0.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_test p {
  height: 100%;
  margin-top: 1rem;
}

.card__button {
  margin: 1.6rem 0;
  text-align: center;
  padding: 0.8rem 1.6rem;
  background: none;
  border: 0.03125rem solid #777;
  border-radius: 0.125rem;
}

.card__button:hover {
  border-color: #d099a0;
}

.card--featured {
  grid-row: auto / span 3;
  grid-column: auto / span 2;
}

.card--2x {
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}

.card--vertical {
  grid-row: auto / span 2;
}

.card--horizontal {
  grid-column: auto / span 2;
}

.card--frameless {
  background-color: transparent;
  box-shadow: none;
}

/* Adapter les éléments sur les petits écrans */
@media (max-width: 25.875rem) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .card {
    min-height: 12.8rem;
  }
}

/* Adapter les éléments pour les écrans moyens (tablettes) */
@media (min-width: 25.875rem) and (max-width: 80rem) {
  .grid-container {
    grid-gap: 1.6rem;
  }

  .card__side-by-side--m {
    flex-flow: row nowrap;
  }

  .card__side-by-side--m img {
    min-height: 100%;
  }

  .card--featured {
    grid-row: auto / span 2;
    grid-column: 1 / -1;
  }
}

/* Ajuster les éléments pour les grands écrans (ordinateur) */
@media (min-width: 80rem) {
  .padding-large--l {
    padding: 3.2rem;
  }
}

/* Gestion du mode sombre */
@media (prefers-color-scheme: dark) {
  p {
    color: black
  }
}
